.PartnersTitleContainer {
  margin-top: 40px;
  margin-bottom: 10px;

  display: flex;
  align-content: center;
  justify-content: center;
  position: fixed;
}
.PartnersTitle {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-weight: bold;
  padding-left: 20px;
}
.scrolling-wrapper-flexbox1 {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  width: 90vw;
  height: 70vh;
  flex-wrap: wrap;
  overflow: auto;
  margin-top: 90px;
}

.logo {
  max-width: 80vw;
}
