.bodxy: {
  display: flex;
  flex-direction: column;
}
.map_ {
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 100px;
  padding-top: 50px;
  flex: 0;
}
.mapcontrols: {
  flex: 1;
}
.carousel: {
  flex: 2;
  align-self: flex-end;
}
