.Logoresponsive {
  max-width: 80vw;
  height: 60px;
}
.LogoDrawer {
  width: auto;
  height: 44px;
}
.AppBarista {
  background-color: green;
  flex-grow: 1;
  align-content: flex-start;
}
.LogoTitleIMGMobo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.NavLinks {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  color: #1b1464;
  text-decoration: none;
}

.NavLinks:active {
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  color: #1b1464;
  font-weight: bold;
}
